<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Gentran</title>

    <link rel="shortcut icon" href="~/Images/VINCE.jpg"/> 
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link href="~/Content/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons/ionicons.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-ng-app="admin" data-ng-controller="rootViewModel"  class="hold-transition skin-blue sidebar-mini">
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sign In", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Administrator", "Index", "Admin")</li>
                    <li>@Html.ActionLink("PO Retrieve", "Index", "Retrieve")</li>
                    <li>@Html.ActionLink("Order", "Index", "Order")</li>
                    <li>@Html.ActionLink("Monitoring", "Index", "Monitoring")</li>
                </ul>
            </div>
        </div>
    </div>*@
    @RenderSection("header_menu", required: false)
    <div class="content-wrapper">
        <section class="content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2016 - Gentran</p>
            </footer>    
        </section>
    </div>
    @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>*@
    <script src="~/Scripts/jquery/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/plugins/raphael-min.js"></script>
    <script src="~/Scripts/bootstrap-js/bootstrap.js"></script>
    <script src="~/Scripts/js/app.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/master/master_ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/angular-route.js"></script>
    <script type="text/javascript" src="~/Scripts/js/master/master_main.js"></script>

    //<--- MNS10052016
    <script src="~/Scripts/angular/src/jquery.dataTables.js"></script>
   <script src="~/Scripts/angular/src/dataTables.bootstrap.js"></script>
    //--->

    <script type="text/javascript">
        window.MyApp = {};
    </script>
    <script src="~/App/App.js"></script>
    <script type="text/javascript">
        MyApp.rootPath = '@Url.Content("~")';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
