<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Gentran</title>

    <link rel="shortcut icon" href="~/Images/VINCE.jpg"/> 
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link href="~/Content/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/jquery/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/notification/notification.css" rel="stylesheet" />
    <link href="~/Content/notification/waves-effect.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sign In", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Administrator", "Index", "Admin")</li>
                    <li>@Html.ActionLink("PO Retrieve", "Index", "Retrieve")</li>
                    <li>@Html.ActionLink("Order", "Index", "Order")</li>
                    <li>@Html.ActionLink("Monitoring", "Index", "Monitoring")</li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="fixed">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Content("~/Home/Index")" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><i class="fa fa-home"></i></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><i class="fa fa-home">&nbsp;&nbsp;</i> <b>Home</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="user user-menu">
                            <a href="#">
                                <img src="~/Images/shermaine.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Shermaine Gae Tan</span>
                            </a>

                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears"></i></a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Images/shermaine.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Shermaine Gae Tan - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div data-ng-app="admin" data-ng-controller="rootViewModel">
            @RenderSection("header_menu", required: false)
            <div class="content-wrapper">
                <div class="action_bar">
                    @RenderSection("action_menu", required: false)
                </div> 
                <section class="content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; 2016 - Gentran</p>
                    </footer>
                </section>
            </div>
            <!-- =================================== MODALS ==================================== -->
            <!------- EDIT USER MODAL ------->
            <div id="editUserModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" id="btnEditModalClose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> User Profile</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <form class="form-horizontal" role="form">
                                    <div class="col-xs-6 col-md-3">
                                        <div style="height:120px; width:100%; background: black; border-radius:50%;" class="link-user-imgprof" title="Click to change."></div><br />
                                        <input type="file" id="fuProfPic" style="width:100%;" onchange="previewFile()" />
                                        <input type="hidden" id="imageBase64" />
                                    </div>
                                    <div class="col-md-9 col-xs-12">

                                        <div class="form-group">
                                            <div class="col-md-4 col-xs-12">
                                                <label class="control-label">User ID:</label>
                                            </div>
                                            <div class="col-md-8 col-xs-12">
                                                <input id="txt_edituserid" class="form-control input-sm" type="text" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">User Name: <span class="required">*</span></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="txt_edituname" class="form-control input-sm" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">Nickname:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="txt_editnname" class="form-control input-sm" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">First Name: <span class="required">*</span></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="txt_editfname" class="form-control input-sm" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">Middle Name:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="txt_editmname" class="form-control input-sm" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">Last Name: <span class="required">*</span></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="txt_editlname" class="form-control input-sm" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">Email:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="txt_editemail" class="form-control input-sm" type="email">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-8">
                                                <input type="checkbox" id="chk_changepass" onchange="ShowHideDiv(chk_changepass)" />
                                                <label class="control-label">Change Password</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="div-changepass" style="display:none;">
                                        <div class="divider"></div>
                                        <div class="col-md-3 col-xs-12"></div>
                                        <div class="col-md-9 col-xs-12">
                                            <div class="form-group">
                                                <div class="col-md-4 col-xs-12">
                                                    <label class="control-label">Old Password: <span class="required">*</span></label>
                                                </div>
                                                <div class="col-md-8 col-xs-12">
                                                    <input id="txt_oldpass" class="form-control input-sm" type="password" placeholder="Old password">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="control-label">New Password: <span class="required">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input id="txt_newpass" class="form-control input-sm" type="password" placeholder="New password">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="control-label">Confirm Password: <span class="required">*</span></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input id="txt_confirmpass" class="form-control input-sm" type="password" placeholder="Confirm new password">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="btnEditModalCancel" value="Cancel" />
                            <input type="button" class="btn btn-primary btn-sm" id="btnSaveProfChange" ng-click="saveUserDetails()" value="Save Changes" />
                        </div>
                    </div>
                </div>
            </div>
            <!------- END OF EDIT USER MODAL ------->
            <!-- =================================== END OF MODALS ==================================== -->

        </div>
    </div>
    @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>*@
    <script src="~/Scripts/jquery/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/plugins/raphael-min.js"></script>
    <script src="~/Scripts/bootstrap-js/bootstrap.js"></script>
    <script src="~/Scripts/js/app.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/master/master_ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/angular/src/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/angular-route.js"></script>
    <script type="text/javascript" src="~/Scripts/js/master/master_main.js"></script>

    @*<--- MNS10052016 *@
    <script src="~/Scripts/angular/src/jquery.dataTables.js"></script>
    <script src="~/Scripts/angular/src/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/angular/src/angular-datatables.js"></script>
    <script src="~/Scripts/angular/src/angular-datatables.directive.js"></script>
    <script src="~/Scripts/angular/src/angular-datatables.factory.js"></script>
    <script src="~/Scripts/angular/src/angular-datatables.options.js"></script>
    <script src="~/Scripts/angular/src/angular-datatables.renderer.js"></script>
    <script src="~/Scripts/angular/src/angular-datatables.util.js"></script>
    <script src="~/Scripts/angular/src/angular-datatables.instances.js"></script>
    @*//--->*@
    <script src="~/Scripts/notification/notifications.js"></script>
    <script src="~/Scripts/notification/waves.js"></script>
    <script src="~/Scripts/notification/notify.min.js"></script>
    <script src="~/Scripts/notification/notify-metro.js"></script>
    <script src="~/Scripts/js/master/master_balloon.js"></script>
    <script src="~/Scripts/js/scalyr/scalyr.js"></script>
    <script src="~/Scripts/js/scalyr/core.js"></script>
    <script src="~/Scripts/js/scalyr/slyEvaluate.js"></script>
    <script src="~/Scripts/js/scalyr/slyRepeat.js"></script>

    <script type="text/javascript">
        function ShowHideDiv(chk_changepass) {
        	var changepass = document.getElementById("div-changepass");
        	changepass.style.display = chk_changepass.checked ? "block" : "none";
        }
    </script>

    <script type="text/javascript">
        window.MyApp = {};
    </script>
    <script src="~/App/App.js"></script>
    <script type="text/javascript">
        MyApp.rootPath = '@Url.Content("~")';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
