<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <title>@ViewBag.Title - Gentran</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="shortcut icon" href="~/Images/logoTrans.png" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.css" />
    <link href="~/Content/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/skins/_all-skins.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Site.css" /> 
    <link href="~/Content/jquery/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/notification/notification.css" rel="stylesheet" />
    <link href="~/Content/notification/waves-effect.css" rel="stylesheet" />
    <link href="~/Content/jquery/jquery-ui.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition skin-blue-light layout-top-nav">
    <div class="wrapper fixed">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand"><b>Gen</b>tran</a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="visitHome"><a href="@Url.Content("~/Home")">Home <span class="sr-only">(current)</span></a></li>
                            <li><a href="@Url.Content("~/Admin")">Admin</a></li>
                            <li class="visitRetrieve"><a href="@Url.Content("~/Retrieve")">PO Retrieve</a></li>
                            <li class="visitOrder"><a href="@Url.Content("~/Order")">Orders</a></li>
                            <li class="visitMonitoring"><a href="@Url.Content("~/Monitoring")">Monitoring</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">

                            <!-- User Account Menu -->
                            <li class="user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#">
                                    <!-- The user image in the navbar-->
                                    <img src="~/Images/master/default.png" class="user-image img_userProfPic" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs lbl_userfullname">Loading user...</span>
                                </a>
                            </li>
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears"></i></a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="~/Images/master/default.png" class="img-circle img_userProfPic" alt="User Image">
                                        <p>
                                            <span class="lbl_userfullname"></span>
                                            <small class="lbl_usertype"></small>
                                            <small>Username: <span class="lbl_username"></span></small>
                                            <small>User ID: <span class="lbl_userid"></span></small>
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <!--
                                        <div class="pull-left">
                                            <button onclick="angular.element($('#actionbar')).scope().getUserProfile()" class="btn btn-default btn-flat">Profile</button>
                                        </div>
                                        -->
                                        <div class="pull-right">
                                            <a class="btn btn-default btn-flat" href="@Url.Content("~/Shared/Index")">Sign out</a>
                                            <!--<a href="" class="btn btn-default btn-flat">Sign out</a>-->
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-custom-menu -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </header> 
        <div class="content-wrapper">
                <section class="content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p class="col-md-6">&copy; 2016 - BES</p>
                    </footer> 
                </section>
        </div>

        <!-- =================================== MODALS ==================================== -->
        <!------- EDIT USER MODAL ------->
        <div id="editUserModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btnEditModalClose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> User Profile</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form class="form-horizontal" role="form">
                                <div class="col-xs-6 col-md-3">
                                    <div style="height:120px; width:120px; background: black; border-radius:50%;" class="link-user-imgprof" title="Click to change."></div><br />
                                    <input type="file" id="fuProfPic" style="width:100%;" onchange="previewFile()" accept="image/*" />
                                    <input type="hidden" id="imageBase64" />
                                </div>
                                <div class="col-md-9 col-xs-12">

                                    <div class="form-group">
                                        <div class="col-md-4 col-xs-12">
                                            <label class="control-label">User ID:</label>
                                        </div>
                                        <div class="col-md-8 col-xs-12">
                                            <input id="txt_edituserid" class="form-control input-sm" type="text" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">User Name: <span class="required">*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="txt_edituname" class="form-control input-sm" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">Nickname:</label>
                                        </di>v
                                        <div class="col-md-8">
                                            <input id="txt_editnname" class="form-control input-sm" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">First Name: <span class="required">*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="txt_editfname" class="form-control input-sm" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">Middle Name:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="txt_editmname" class="form-control input-sm" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">Last Name: <span class="required">*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="txt_editlname" class="form-control input-sm" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">Email:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="txt_editemail" class="form-control input-sm" type="email">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-8">
                                            <input type="checkbox" id="chk_changepass" onchange="ShowHideDiv(chk_changepass)" />
                                            <label class="control-label">Change Password</label>
                                        </div>
                                    </div>
                                </div>

                                <div id="div-changepass" style="display:none;">
                                    <div class="divider"></div>
                                    <div class="col-md-3 col-xs-12"></div>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="form-group">
                                            <div class="col-md-4 col-xs-12">
                                                <label class="control-label">Old Password: <span class="required">*</span></label>
                                            </div>
                                            <div class="col-md-8 col-xs-12">
                                                <input id="txt_oldpass" class="form-control input-sm" type="password" placeholder="Old password">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">New Password: <span class="required">*</span></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="txt_newpass" class="form-control input-sm" type="password" placeholder="New password">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">Confirm Password: <span class="required">*</span></label>
                                            </div>
                                            <div class="col-md-8">
                                                <input id="txt_confirmpass" class="form-control input-sm" type="password" placeholder="Confirm new password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="btnEditModalCancel" value="Cancel" />
                        <input type="button" class="btn btn-primary btn-sm" id="btnSaveProfChange" ng-click="saveUserDetails()" value="Save Changes" />
                    </div>
                </div>
            </div>
        </div>
        <!------- END OF EDIT USER MODAL ------->
        <!-- =================================== END OF MODALS ==================================== -->
    </div> 

        <script src="~/Scripts/jquery/jquery-2.2.3.min.js"></script>
        @*<script src="~/Scripts/plugins/raphael-min.js"></script>*@
        <script src="~/Scripts/bootstrap-js/bootstrap.js"></script>
        <script src="~/Scripts/js/app.min.js"></script>
        <script type="text/javascript" src="~/Scripts/js/master/master_ajax.js"></script>
        <script type="text/javascript" src="~/Scripts/angular/angular.js"></script>
        <script src="~/Scripts/angular/src/ui-bootstrap-tpls-0.3.0.min.js"></script>
        <script type="text/javascript" src="~/Scripts/angular/angular-route.js"></script>
        <script type="text/javascript" src="~/Scripts/js/master/master_main.js"></script>
        

        <script src="~/Scripts/angular/src/jquery.dataTables.js"></script>
        <script src="~/Scripts/angular/src/dataTables.bootstrap.js"></script>
        <script src="~/Scripts/angular/src/angular-datatables.js"></script>
        <script src="~/Scripts/angular/src/angular-datatables.directive.js"></script>
        <script src="~/Scripts/angular/src/angular-datatables.factory.js"></script>
        <script src="~/Scripts/angular/src/angular-datatables.options.js"></script>
        <script src="~/Scripts/angular/src/angular-datatables.renderer.js"></script>
        <script src="~/Scripts/angular/src/angular-datatables.util.js"></script>
        <script src="~/Scripts/angular/src/angular-datatables.instances.js"></script>
        <!--NOTIFICTIONS-->
        <script src="~/Scripts/notification/notifications.js"></script>
        <script src="~/Scripts/notification/waves.js"></script>
        <script src="~/Scripts/notification/notify.min.js"></script>
        <script src="~/Scripts/notification/notify-metro.js"></script>
        <script src="~/Scripts/js/master/master_balloon.js"></script>
        <script src="~/Scripts/js/scalyr/scalyr.js"></script>
        <script src="~/Scripts/js/scalyr/core.js"></script>
        <script src="~/Scripts/js/scalyr/slyEvaluate.js"></script>
        <script src="~/Scripts/js/scalyr/slyRepeat.js"></script>

        <script src="~/Scripts/jquery/jquery-ui.js"></script>
        <script type="text/javascript">
            window.MyApp = {};
        </script>
        <script src="~/App/App.js"></script>
        <script type="text/javascript">
            MyApp.rootPath = '@Url.Content("~")';
        </script>
        @RenderSection("scripts", required: false)
</body>
</html>
